*,
*::before,
*::after {
    /*margin: 0;
    padding: 0;*/
    box-sizing: border-box;
}

body{
    background-color: #80c0c0;
    font-family: monospace;
}

.nav-bar {
    background-color: #f0f0f0;
    padding: 10px 0;
    width: 100%;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.nav-bar ul li {
   width: 100px;
text-align: center;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
    font-size: 18px;
}

.name-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-sect h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/*h2::before, 
h2::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h2::before{
    background: red;
}*/


.name-sect a {
    text-decoration: none;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.about-me {
    margin: 20px;
}

.about-me .mySkills ol {
    list-style-type: none;
}

.projects-container {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 10px;
    margin: 0 0 0 20px;
}

.my-project{
    border: 2px solid #000;
    border-radius: 20px;
    padding: 10px;
}

.my-project.project2 img{
    cursor: pointer;
}

.project-name {
    margin-bottom: 10px;
}

.my-project img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.project-description {
    margin-top: 10px;
}